<link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/main.css') }}">

<body>
  <div class="main">
    <div class="lateral">
      
    </div>

    <div class="page-content">
      <div class='channel'>
        <div class="welcome">
          <h2>Novidades para você!</h2>
        </div>

        
        <div class="bloco-container">
          <div class="container_albums">
            <div class="item_box">
              {% for album in albums[4:8] %}
                <div class="album">
                  <img class="imagem-capa_home" src="{{ url_for('static', filename='img/capa-01.png') }}" alt="Minha Figura">                  
                </div>
              {% endfor%}
              {% for album in albums[4:8] %}
                <div class="nome_artista">
                  {{album.artista}}
                </div>
              {% endfor%}
            </div>
          </div>
        </div>


        <div class="bloco-container">
          <div class="container_albums">
            <div class="item_box">
              {% for album in albums[4:8] %}
                <div class="album">
                  <img class="imagem-capa_home" src="{{ url_for('static', filename='img/capa-01.png') }}" alt="Minha Figura">                  
                </div>
              {% endfor%}
              {% for album in albums[4:8] %}
                <div class="nome_artista">
                  {{album.artista}}
                </div>
              {% endfor%}
            </div>
          </div>
        </div>

      </div>
    </div> <!-- PAGE CONTENT -->
  </div> <!-- MAIN -->
</body>